/* * */

:root {
  --bg-light: #f5f6f7;
  --bg-dark: #1a1a1a;
  --bg-light-blue: #60d4ea;

  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);

  --animation-color: #1a1a1a;
  --fs-size: 2em;
  --text-light: #ffffff;
  --text-dark: #1a1a1a;

  --black: #303030;
  --dark-gray: #414141;
  --gray: #919191;
  --light-gray: #d5d5d5;
  --bright-gray: #ededed;
  --off-white: #f7f8fa;
  --white: #f8f8f8;
  --blue: #61c6ff;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Space Mono", monospace; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Press Start 2P", cursive; */
  font-family: "acumin-pro", sans-serif;
}
/*  */

body {
  background-color: var(--white);
  /* font-family: "Poppins", sans-serif !important; */
  /* font-family: "Press Start 2P", cursive; */
  /* font-family: "Space Mono", monospace; */
}

/* * */

/* Header */

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0px;
  background-color: var(--white);
  min-height: 90px;
  width: 100%;
}

.button {
  margin: 0;
  height: 100%;
  background: transparent;
  padding: 0;
  border: none;
}

.button {
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  position: relative;
  text-transform: uppercase;
  /* font-family: "Poppins", sans-serif !important; */
  /* font-family: "Press Start 2P", cursive; */
  font-family: "Space Mono", monospace;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--black);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.hover-text {
  position: absolute;
  right: 0;
  width: 0;
  background: transparent;
  animation: escribir 5s steps(20) infinite alternate;
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

.btn-contacto {
  color: var(--dark);
  /* font-family: "Poppins", sans-serif !important; */
  /* font-family: "Press Start 2P", cursive; */
  font-family: "Space Mono", monospace;
}

@keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.fancy {
  background-color: transparent;
  border: 2px solid var(--text-dark);
  border-radius: 0;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  /* float: right; */
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: var(--bg-dark);
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-dark);
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: var(--white);
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: var(--white);
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: var(--white);
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: var(--white);
  background-color: var(--bg-dark);
}

.fancy:hover::before {
  width: 0.9375rem;
  color: var(--white);
}

.fancy:hover .text {
  color: var(--white);
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

/* Header */

/* Hero */
.hero-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.hero-content {
  width: 50%;
}

.row {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 3rem;
  color: var(--dark-gray);
  font-family: "Recife Display Web", cursive;
}

.hero-subtitle {
  font-size: 20px;
  color: var(--gray);
  margin-top: 10px;
  line-height: 1.5;
}

.hero-contact {
  text-decoration: none;
  color: var(--gray);
  font-size: 14px;
}

.hero-contact:hover {
  border-top: 0px;
  border-right: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  border-top: 0px;
  padding: 6px;
}

.hero-contact::after {
  content: "→";
  margin-left: 5px;
}

.profile-img {
  width: 200px;
  border-radius: 60%;
}

.programmer {
  width: 70%;
  margin-top: 0px;
}

/* Hero */

/* Portfolio */

.portfolio {
  /* background-color: var(--light-gray); */
  background-color: var(--bright-gray);
  /* height: calc(100vh - 0px); */
  padding: 50px 100px;
}
.portfolio h1 {
  font-size: 2rem;
  padding-bottom: 30px;
  color: var(--black);
  font-family: "Recife Display Web", cursive;
}
.portfolio p {
  font-size: 20px;
  padding-bottom: 30px;
  color: var(--gray);
}
.container-portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.proyecto {
  padding: 20px;
  width: 420px;
  position: relative;
}
.proyecto img {
  width: 100%;
  display: block;
  transition: all 0.2s ease;
}
.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 0px;
  color: var(--black);
}
.proyecto:hover img {
  opacity: 0.2;
}
.proyecto:hover .overlay {
  opacity: 1;
}
.icon-container a {
  font-size: 40px;
  color: var(--black);
  text-decoration: none;
}
.icon-container ion-icon:hover {
  color: var(--blue);
}
.overlay .icon-container {
  display: flexbox;
}
.tec-container ion-icon {
  padding: 2px 5px;
  font-size: 1.3rem;
}

/* Portfolio */

/* Contact */
.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-subcontainer {
  width: 100%;
  padding: 10px 100px;
  text-align: left;
}

.contact-content h1 {
  font-size: 2.5rem;
  padding: 20px 0px;
  color: var(--black);
  font-family: "Recife Display Web", cursive;
}

.contact-content p {
  font-size: 20px;
  color: var(--gray);
}

.input {
  padding: 15px;
  width: 100%;
  border: 1px solid #cacaca;
  border-radius: 2px;
  height: auto;
  outline: none;
  margin-top: 10px;
  font-size: 0.8rem;
  /* font-family: "Space Mono", monospace; */
  font-family: "acumin-pro", sans-serif;
}

.input:focus {
  border: 1px solid var(--black);
}

.contact-container button {
  background-color: var(--black);
  color: var(--gray);
  padding: 15px;
  width: 100%;
  margin-top: 10px;
  font-size: 0.8rem;
}

.contact-container button:hover {
  cursor: pointer;
  color: var(--light-gray);
}

.contact-container button::after {
  content: "→";
  margin-left: 5px;
}

/* Contact */

/* Footer */

.footer-container {
  background-color: var(--white);
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--gray);
  padding: 20px 0px;
}

.column a {
  font-size: 30px;
  color: var(--gray);
  text-decoration: none;
}

.column a:hover {
  color: var(--blue);
}

/* Footer */

/* MediaQueries */
@media (max-width: 575.98px) {
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn-contacto {
    margin-top: 10px;
  }

  .hero-title {
    text-align: center;
  }
  .hero-subtitle {
    text-align: center;
  }
  .programmer {
    width: 90%;
  }
  .hero-content {
    width: 100%;
    text-align: center;
    padding: 0px 20px;
  }
  .contact-container {
    flex-direction: column;
    padding: 0;
  }
  .contact-subcontainer {
    text-align: center;
    padding: 30px;
  }
  .button {
    font-size: 2.5em;
  }
  .btn-contacto {
    padding-top: 30px;
  }
  .portfolio {
    padding: 50px 0px;
  }
  .portfolio h1,
  p {
    padding: 10px 20px;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  section {
    text-align: center;
  }
  .programmer {
    width: 90%;
  }
  .hero-content {
    width: 100%;
    text-align: center;
    padding: 0px 20px;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-subcontainer {
    text-align: center;
    padding: 30px;
  }
  .portfolio {
    padding: 50px 0px;
  }
  .portfolio h1,
  p {
    padding: 10px 20px;
    text-align: center;
  }
  .proyecto {
    width: 100%;
    padding: 10px 30px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  section {
    text-align: center;
  }
  .programmer {
    width: 80%;
  }
  .hero-content {
    width: 100%;
    text-align: center;
    padding: 0px 50px;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-subcontainer {
    text-align: center;
    padding: 50px;
  }
  .portfolio {
    padding: 50px 0px;
  }
  .portfolio h1,
  p {
    padding: 10px 20px;
    text-align: center;
  }
  .proyecto {
    width: 100%;
    padding: 10px 30px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  section {
    text-align: center;
  }
  .programmer {
    width: 100%;
  }
  .hero-content {
    width: 70%;
    text-align: center;
    padding: 0px 50px;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-subcontainer {
    text-align: center;
  }
  .portfolio {
    padding: 50px 0px;
  }
  .portfolio h1,
  p {
    padding: 10px 20px;
    text-align: center;
  }
  .proyecto {
    width: 100%;
    padding: 10px 30px;
  }
}

@media (min-width: 1200px) {
  section {
    text-align: center;
  }
  .programmer {
    width: 80%;
  }
}

/* MediaQueries */
